@mixin app-header {
  @include make-row();
  margin-top: 0.8rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #eee;

  .app-layout-container {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    align-items: center;
  }

  .app-branding {
    @include make-col();
    margin-right: 1rem;

    @include media-breakpoint-up(md) {
      margin-right: 2rem;
    }
  }

  .app-search {
    @include make-col();
    flex: 1;
    @include site-search();

    .site-search {
      .search-input-container {
        border: 1px solid transparent;
        border-radius: 0;
      }

      &.site-search-has-focus .search-input-container {
        border-bottom: 1px solid $input-border-focus;
      }
    }
  }

  .app-controls {
    @include make-col();
    margin-left: 2rem;

    .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }

  @include media-breakpoint-down(sm) {
    .app-layout-container {
      display: block;
    }

    .app-branding, .app-search, .app-controls {
      float: none;
      margin-bottom: 1rem
    }

    .app-branding {
      display: block;
    }

    .app-search {
    }

    .app-controls {
      margin: 0;
    }
  }

  .sign-in,
  .user-account-menu,
  .user-account-menu .current-user,
  .user-account-menu .account-menu-options {
    font-size: 0.9rem;
  }

  .user-account-menu {
    .current-user {
      color: $link-color;
      background: none;
      border: none;
      padding: 0;
      margin: 0;

      &:hover, &:active, &:focus {
        background: none;
        text-decoration: $link-hover-decoration;
        outline: none;
      }
    }
  }

  .logo {
    height: 3rem;
    height: 2.5vw;
    min-height: 0.8rem;

    @include media-breakpoint-down(sm) {
      height: 6vw;
    }
  }
}

@mixin app-layout {
  .app-layout {
    @include make-container();

    .app-layout-container {
      @include make-container();
    }

    .app-header, .app-content, .app-footer {
      @include make-row();
    }

    .app-header {
      @include app-header();
    }

    .app-footer {
      margin-top: 3rem;
    }

  }
}

@include simple-modal('app-sign-in-up-overlay-modal') {
  @include sign-in-up();
}
