@mixin profile-namespace() {
  .profile-namespace {
    @include trust-button();
    @include trust-reputation-stats();
    @include make-container();
    @include expand-button();

    max-width: 740px;
    margin-top: 3rem;

    .profile-top-section {
      @include make-row();

      .profile-top-left,
      .profile-top-right {
        @include make-col();

        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }

      .profile-top-left {
        @include media-breakpoint-down(sm) {
          @include make-col-span(12);
          margin-bottom: 1.5rem;
        }

        .avatar-stats{
          text-align: center;
          margin-top: 1rem;

          .reputation,
          .trusters {
            font-size: 1rem;
          }
        }
      }

      .profile-top-right {
        @include make-col-span(9);

        @include media-breakpoint-down(sm) {
          @include make-col-span(12);
        }

        .profile-name-row {
          display: flex;
          flex-direction: row;

          @include media-breakpoint-down(sm) {
            display: block;
          }

          .profile-name-container {
            flex: 1
          }
        }

        .name {
          margin-bottom: 0;
        }

        .member-since {
          font-size: 0.8rem;
          font-weight: 200;
          color: $gray-light;
          margin-top: 0.5rem;

          .date-display {
            display: inline-block;
          }
        }

        .bio {
          @include content-truncator();

          color: $gray;
          font-size: 0.9rem;
          text-align: justify;
          margin-top: 1rem;

          p {
            white-space: pre-line;
          }

          .edit-icon {
            float:right;
            font-size: 1.5rem;
          }
        }

        .bio-editor {
          width: 100%;
          resize: none;
          margin-top: 1rem;
          outline-color: $brand-primary;
          border: 1px solid $gray-lighter;
        }

        .bio-icons {
          text-align: right;
        }

        .trust-button {
          margin-top:1rem;
          margin-right: 1rem;
        }

        .name-editor {
          font-size: 1.9rem;
          font-weight: 300;
          line-height: 1.1rem;
          border: none;
          margin-bottom: .2rem;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: $gray-light;
          border-bottom: 1px solid $brand-primary;

          &:focus, &:active {
            outline: none;
          }
        }

        .edit-icon {
          @extend .fa-pencil;
          @extend .fa;
          color: $gray-lighter;
          font-size: 1rem;
          vertical-align: top;
          transition: all .5s ease;
          margin-left: 1rem;
          cursor: pointer;

          &:hover {
            transform: rotate(25deg) scale(1.2);
          }
        }
      }
    }

    .summary-section {
      margin-top: 2rem;

      .summary-section-row {
        @include make-row();
        margin-top: 1rem;
      }

      .summary-section-title {
        @include make-col-span(2);

        @include media-breakpoint-down(sm) {
          @include make-col-span(12);
          margin-bottom: 1rem;
        }
      }

      .summary-section-contents {
        @include make-col-span(10);

        @include media-breakpoint-down(sm) {
          @include make-col-span(12);
        }
      }

      .summary-section-title,
      .summary-section-contents{
        @include make-col();
      }

      .summary-item {
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: .5rem;
        font-size: .9rem;
        color: $gray;

        .summary-badge {
          color: $brand-primary;
          border: 1px solid $brand-primary-minor;
          font-size: .8rem;
          border-radius: .25rem;
          padding: .25rem .5rem;
          margin: .25rem;
          margin-right: .5rem;
        }
      }
    }

    .contributions-section {
      @include community-item-list();

      margin-top: 2rem;
      padding-bottom: .5rem;
    }

    .expand-button-container {
      margin-top: 2rem;
    }
  }
}
