@mixin profile-namespace() {
  .profile-namespace {
    @include trust-button();
    @include trust-reputation-stats();
    @include make-container();
    @include expand-button();

    max-width: 740px;
    margin-top: 2rem;

    .profile-top-section {
      @include make-row();

      .profile-top-left {
        // @include make-col-span(3);

        .avatar-stats{
          text-align: center;

          .reputation,
          .trusters {
            font-size: 1rem;
          }
        }
      }

      .profile-top-right {
        @include make-col-span(9);

        .name {
          margin-bottom: 0;
        }

        .member-since {
          font-size: 0.7rem;
        }

        .bio {
          @include content-truncator();

          color: $gray;
          font-size: 0.9rem;
          text-align: justify;
          margin-top: 1rem;

          p {
            white-space: pre-line;
          }

          .edit-icon {
            float:right;
            font-size: 1.5rem;

            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }

        .bio-editor {
          width: 100%;
          resize: none;
          margin-top: 1rem;
          outline-color: $brand-primary;
          border: 1px solid $gray-lighter;
        }

        .bio-icons {
          text-align: right;
        }

        .trust-button {
          float: right;
          margin-top:1rem;
          margin-right: 1rem;
        }

        .name-editor {
          font-size: 1.9rem;
          font-weight: 300;
          line-height: 1.1rem;
          border: none;
          margin-bottom: .2rem;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: $gray-light;
          border-bottom: 1px solid $brand-primary;

          &:focus, &:active {
            outline: none;
          }
        }

        .save-changes-icon {
          @extend .fa-check;
          font-size: 1.5rem;
          color: $brand-success;
        }

        .cancel-changes-icon {
          @extend .fa-times;
          font-size: 1.5rem;
          color: $brand-danger;
        }
        
        .edit-icon {
          @extend .fa-pencil;
          color: $gray-lighter;
          font-size: 1rem;
          vertical-align: top;
          transition: all .5s ease;

          &:hover {
            transform: rotate(25deg) scale(1.2);
          }
        }
        
        .save-changes-icon,
        .cancel-changes-icon,
        .edit-icon {
          @extend .fa;
          margin-left: 1rem;
          cursor: pointer;
        }
      }
      
      .profile-top-left,
      .profile-top-right {
        @include make-col();
        
        @include media-breakpoint-down(sm){
          @include make-col-span(12);
          text-align: center;
        }
      }
    }

    .summary-section {
      margin-top: 2rem;
      
      .summary-section-row {
        @include make-row();
        margin-top: 1rem;
      }

      .summary-section-title { 
        @include make-col-span(2);
      }

      .summary-section-contents { 
        @include make-col-span(10);
      }

      .summary-section-title,
      .summary-section-contents{
        @include make-col();
      }

      .summary-item {
        display: inline-block;
        margin-right: 1.5rem;
        margin-bottom: .5rem;
        font-size: .9rem;
        color: $gray;
        
        .summary-badge {
          color: $white;
          background-color: $brand-success;
          font-size: .8rem;
          border-radius: .25rem;
          padding: .25rem .5rem;
          margin: .25rem;
          margin-right: .5rem;
        }
      }
    }

    .contributions-section {
      @include community-item-list();
      
      margin-top: 2rem;

      .section-title {
        padding-bottom: .5rem;
        border-bottom: 1px solid $gray-lighter;
      }
    }
  } 
}