@mixin home-namespace {
  .home-namespace {
    .app-header {
      @include app-header();
      margin-left: 0;
      margin-right: 0;
      border-bottom: none;
      margin-bottom: 0;

      .app-branding, .app-search {
        display: none;
      }

      .app-controls {
        margin-left: auto;
      }
    }

    .primary-content {
      @include site-search();
    }

    .primary-content-container {
      @include make-container();
      @include make-container-max-widths();
    }

    .branding-large {
      @extend .display-3;
      text-align: center;
      margin-bottom: 1rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0.5rem;
      }
    }

    .praisee-logo {
      height: 4vw;
      min-height: 2rem;
    }

    .praisee-description {
      text-align: center;
      font-size: 1rem;
      color: $gray-light;
    }

    .primary-content .site-search {
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 5rem;
      width: 65%;

      @include media-breakpoint-down(sm) {
        width: 95%;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
      }

      .search-input-container {
        border: 1px solid $input-border-color;
      }

      &.site-search-has-focus .search-input-container {
        border: 1px solid $input-border-focus;
      }
    }

    .topic-tiles {
      @include make-container();
      @include make-container-max-widths();
      @include expand-button();
      @extend .card-columns;

      .topic-tile {
        @extend .card;
        border: none;
        min-height: 15rem;
        height: 30vh;
        overflow: hidden;
      }

      .background-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .initial-load-image {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          opacity: 1;
        }

        @keyframes background-image-loaded {
          0% { opacity: 0; }
          100% { opacity: 1; }
        }

        .background-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;

          &.image-loader-has-loaded {
            opacity: 1;
            animation: background-image-loaded 500ms ease-in-out;
          }

          &.image-loader-is-cached {
            opacity: 1;
          }
        }
      }

      .topic-tile-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: transparentize($black, 0.5);
      }

      .topic-header {
        @extend .card-img-top;
        width: 100%;
        display: block;
        color: $white;
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
      }

      .community-items {
        @extend .card-block;
        list-style: none;
        padding: 0.5rem 1rem;
        margin: 0;
        font-size: 0.9rem;
      }

      .community-item {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0;
        margin: 0;
        color: $white;
      }

      .community-item-link {
        color: $white;
      }

      .expand-button {
        margin-bottom: 0.5rem;
        background: none;

        .expand-button-icon {
          color: $white;
        }

        &:hover, &:active, &:focus {
          background: none;
        }
      }
    }

    .app-footer {
      margin-top: 3rem;
    }


  }
}
