@mixin home-namespace {
  .home-namespace {
    position: relative;

    .app-header {
      @include app-header();
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: 0;
      margin-right: 0;
      border-bottom: none;
      margin-bottom: 0;

      .app-branding, .app-search {
        display: none;
      }

      .app-controls {
        margin-left: auto;
      }
    }

    .primary-content {
      color: transparentize($white, 0.5);
      background: $brand-primary;
      margin-top: 2.5rem;
      @include site-search();

      .add-review-section, .search-section {
        padding: 2.5rem 0;
      }

      .add-review-section {
        padding-top: 3.5rem;
        text-align: center;

        .add-review-button {
          @include btn();
          @include btn-lg();
          @include btn-reversed-primary();
          padding-left: 2rem;
          padding-right: 2rem;
        }

        .add-review-icon {
          @extend .fa;
          @extend .fa-star;
          margin-right: 0.8rem;
        }
      }

      .or-divider {
        @include divider-with-text(transparentize($white, 0.8), 2rem);
        width: 60%;
        margin: 0 auto;
      }

      .search-section {
        padding-bottom: 3.5rem;

        .site-search {
          margin: 0 auto;
          width: 40%;
        }

        .site-search {
          .search-input-container, .search-input {
            color: $white;
            background: $brand-primary;
          }

          .search-input-container {
            border: 1px solid transparent;
            border-bottom: 1px solid transparentize($white, 0.3);
            border-radius: 0;
          }

          &.site-search-has-focus .search-input-container {
            border-bottom: 1px solid $white;
          }

          &.site-search-has-input .search-input-icon {
            color: $white;
          }
        }
      }
    }

    .primary-content-container {
      @include make-container();
      @include make-container-max-widths();
    }

    .branding-large {
      @extend .display-3;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0.5rem;
      }
    }

    .praisee-logo {
      height: 4vw;
      min-height: 2rem;
    }

    .praisee-description {
      text-align: center;
      font-size: 1rem;
      color: $gray-light;
    }

    .primary-content .site-search {
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 5rem;
      width: 65%;

      @include media-breakpoint-down(sm) {
        width: 95%;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
      }

      .search-input-container {
        border: 1px solid $input-border-color;
      }

      &.site-search-has-focus .search-input-container {
        border: 1px solid $input-border-focus;
      }
    }

    .secondary-section {
      @include make-container();
      @include make-container-max-widths();
      padding-top: 4rem;

      .category-products {
        .product {
          @extend .card;
          @extend .card-block;
          border: none;

          @include media-breakpoint-up(sm) {
            width: 33%;
            display: inline-block;
            vertical-align: top;
          }
        }

        .product-link {
        }

        .product-rating {
          @include rating-stars();
        }
      }

      .product-photos {
        margin-bottom: 1rem;

        &.no-photos {
          width: 60%;
          padding-top: 60%;
          border: 1px solid $brand-secondary;
        }

        &.single-product-photo {
          .product-photo {
            width: 60%;
          }
        }

        &.multiple-product-photos {
          .primary-photo, .secondary-photos {
            display: inline-block;
            vertical-align: top;
          }

          .primary-photo {
            width: 60%;
            padding-right: 5%;
          }

          .secondary-photos {
            width: 25%;

            .product-photo:first-child {
              margin-bottom: 20%;
            }
          }

          .product-photo {
            width: 100%;
          }
        }
      }
    }

    .app-footer {
      margin-top: 3rem;
    }


  }
}
