@import '../app/bootstrap';

%site-search {
    .site-search {
        @extend %bootstrap;

        position: relative;

        .search-input {
            width: 100%;
        }

        .suggestions-container {
            @extend .dropdown-menu;
            display: block;
        }

        .suggestion {
            @extend .dropdown-item;
        }

        .suggestion-focused,
        .suggestion:hover,
        .suggestion:active,
        .suggestion:focus {
            &, .suggestion-link {
                @extend .dropdown-item.active;
            }
        }
    }
}
