@mixin site-search {
    .site-search {
        position: relative;

        .search-input {
            @extend .form-control;
            width: 100%;
        }

        .suggestions-container {
            @extend .dropdown-menu;
            display: block;
        }

        .suggestion {
            @extend .dropdown-item;
            cursor: pointer;
        }

        .suggestion-focused,
        .suggestion:hover,
        .suggestion:active,
        .suggestion:focus {
            @extend .dropdown-item.active;
        }
    }
}
