@mixin comment {
  .comment {
    @include expand-button();
    @include comment-editor();
    padding-left: 1rem;

    .comment-bottom {
      display: flex;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .comment-inner {
      border-bottom: 1px solid $gray-lighter;
      padding-bottom: 1rem;
    }

    .comment-header {
      display: flex;
      justify-content: space-between;
    }

    .date {
      text-align: right;
      margin-top: .5rem;
    }

    .reply-button {
      @extend .form-control;
      flex: 1;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      display: inline-block;
      margin: .5rem;
      padding: 0.175rem 0.75rem;
    }
  }
}
