@mixin comment {
  .comment {
    @include expand-button();
    @include comment-editor();
    padding-left: 1rem;
    margin: 1rem 0;

    .comment-bottom {
      display: flex;

      @include media-breakpoint-down(sm) {
        display: block;
      }
    }

    .comment-inner {
      border-bottom: 1px solid $hr-border-color;
      padding-bottom: 1rem;
    }

    .comment-header {
      display: flex;
      justify-content: space-between;
    }

    .date {
      text-align: right;
      margin-top: .5rem;
      font-size: .8rem;
      color: $gray-light;
    }

    .reply-button {
      flex: 1;
    }
  }
}
