@mixin comment-editor {
  .comment-editor {
    flex: 1;
    @include media-breakpoint-down(sm) {
      display: block;
    }

    .submit,
    .cancel {
      margin-top: .5em;
      margin-bottom: .5em;
    }

    .editor-form {
      display: flex;
      align-items: flex-start;
    }

    .editor-area {
      @extend .form-control;
      @import '../../../node_modules/draft-js/dist/Draft';
      @import '../../../node_modules/draft-js-mention-plugin/lib/plugin';
      flex: 1;
      margin-top: .5rem;
      margin-bottom: .5rem;
      margin-right: .5rem;

      .public-DraftEditor-content {
        min-height: 1rem;
      }
    }
  }
}