@mixin community-item-editor-mixin() {
  @include editor(1rem);
  @include embedded-sign-in-up();
  @include fixed-content-menu();

  .editor-container {
    padding: 1rem 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 2rem;
  }

  .editor-summary {
    display: block;
    width: 100%;
    border: none;
    font-size: 1.2rem;

    &.has-input {
      font-family: $headings-font-family;
    }

    &::placeholder {
      color: $editor-placeholder;
    }

    &:active,
    &:focus {
      outline: none;

      &::placeholder {
        color: $editor-placeholder-focused;
      }
    }
  }

  &.editor-hide-full-body {
    .editor-area, .editor-footer {
      display: none;
    }
  }

  .community-item-content {
    @include editor-content();
  }

  .editor-area {
    flex: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .post-button, .sign-up-button, .sign-in-button {
    @include btn;
    @include btn-sm;
    @include btn-primary;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;

    .save-icon, .optional-icon {
      @extend .fa;
      @extend .fa-check;
      padding-right: .5rem;
    }
  }

  .sign-up-button, .sign-in-button {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

@mixin community-item-editor {
  .community-item-editor {
    @include community-item-editor-mixin();

    .embedded-sign-in-up {
      border-bottom: 1px solid $hr-border-color;
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
