@mixin review-editor {
  .review-editor {
    @include community-item-editor-mixin();
    @include edit-rating();
    @include review-topic-selector();
    margin-top: 1rem;
    margin-bottom: 3.5rem;

    .editor-container {
      margin-top: 1rem;
      margin-bottom: 0;
      box-shadow: none;
      border: 1px solid $input-border-color;
    }

    .clear-topic-button {
      @extend .fa;
      @extend .fa-close;
      appearance: none;
      background: none;
      font-size: 0.7rem;
      vertical-align: middle;
      padding: 0.1rem 0.2rem;
      margin-left: 0.2rem;
      color: $gray-light;
      border: 1px solid $gray-lighter;
      border-radius: $btn-border-radius-sm;

      &:hover, &:active, &:focus {
        color: $brand-primary;
      }
    }

    .selected-topic {
      margin: 0 0.2rem;
      font-weight: 500;
    }

    .post-button {
      margin-top: 1.5rem;
      font-size: 1rem;
    }

    .editor-rating {
      margin-bottom: 1.5rem;
    }

    .editor-rating-label {
      font-size: 0.9rem;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    .embedded-sign-in-up {
      margin-top: 1rem;
    }
  }
}
