@mixin community-item-type-header {
  .community-item-type-header {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;

    .review-community-item-header {
      .reviewed-topic, .review-rating {
        vertical-align: middle;
      }

      .reviewed-topic {
        margin-right: 1rem;
      }

      .review-rating {
        @include rating-stars-mixin();
      }
    }

  }
}
