@mixin edit-rating {
  .edit-rating {
    white-space: nowrap;

    .rating-container {
      display: inline-block;
      margin-right: 2rem;
      margin-bottom: 1.5rem;
      position: relative;

      .rating-label {
        position: absolute;
        white-space: nowrap;
        font-size: 0.8rem;
        font-weight: 200;
        color: lighten($gray, 20%);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .rating-star-group {
      @extend .fa;
      @extend .fa-star;
      position: relative;
      font-size: 3rem;
      margin-bottom: 0.5rem;
      color: transparent;

      &:hover, &:active, &:focus {
        .rating-star {
          transform: scale(1.3);
        }
      }
    }

    .rating-star {
      @extend .fa;
      @extend .fa-star;
      color: $gray-lighter;
      font-size: 3rem;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 51%;
      transform-origin: left;

      &::before {
        position: relative;
        left: -100%;
      }
    }

    .rating-star-1 {
      width: 100%;
      transform-origin: center;

      &::before {
        left: 0;
      }
    }

    @include apply-to-filled-rating-stars() {
      @extend .fa-star;
      color: $star-color;
    };

    @include apply-to-filled-rating-stars(edit-rating-preselected) {
      @extend .fa-star;
      color: darken($star-color, 10%);
    };

    @include apply-to-rating-half-star() {
      position: absolute;
      left: 0;
      transform-origin: right;
      z-index: 1;

      &::before {
        position: relative;
        left: 0;
      }
    }

    .edit-rating-star {
      background: none;
      border: none;
      appearance: none;
      outline: none;
      transition: all $btn-transition-time ease-in-out;
      @extend .fa-star-o;
    }

    @include media-breakpoint-down(sm) {
      .rating-container {
        font-size: 2.5rem;
        margin-right: 0.75rem;
        margin-bottom: 1rem;

        .rating-label {
          display: none;
        }

        &:hover, &:active, &:focus {
          .rating-label {
            display: block;
          }
        }
      }

      .rating-star-group, .rating-star {
        font-size: 2.5rem;
      }
    }

  }
}
