@mixin topic-namespace {
  .topic-namespace {
    @include make-container();
    @include make-container-max-widths();
    @include community-item-list();
    @include community-item-editor();
    @include review-editor();
    @include expand-button();
    @include reputation-earned();

    .primary-section {
      @include make-col-span(7);

      .question-editor {
        margin-bottom: 5rem;
      }
    }

    .side-section-container {
      @include make-col-offset(1);
      @include make-col-span(4);

      .side-section-block {
        margin-bottom: 1.5rem;
      }

      .side-section-title {
        margin-bottom: 1.5rem;
      }

      .topic-actions {
        .topic-actions-action {
          appearance: none;
          background: none;
          border: none;
          display: block;
          width: 100%;
          text-align: left;
          color: $brand-secondary;
          padding: 0.5rem 0;
          transition: all $btn-transition-time ease-in-out;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &::before {
            @extend .fa;
            color: $gray-lighter;
            width: 2rem;
            text-align: center;
          }

          &:hover, &:hover, &:focus, &.topic-actions-active {
            color: $brand-secondary-active;
            background: $gray-lightest;
            outline: none;
          }

        }

        .topic-actions-review-action {
          &::before { content: $fa-var-star; }

          &:hover, &:hover, &:focus, &.topic-actions-active {
            &::before { color: $star-color; }
          }
        }

        .topic-actions-question-action {
          &::before { content: $fa-var-question; }

          &:hover, &:hover, &:focus, &.topic-actions-active {
            &::before { color: $brand-primary; }
          }
        }

      }

      .topic-thumbnail-photo {
        width: 5rem;
        height: 5rem;
        margin: 1rem 0;
        margin-bottom: 0.5rem;
      }

      .photo-gallery {
        transition: opacity 0.1s linear;

        &.photo-gallery-loading {
          opacity: 0;
        }

        .photo-gallery-photo {
          max-width: 33%;
          cursor: pointer;
        }
      }

      .related-topics {
        .related-topics-heading {
          margin-bottom: 1.5rem;
        }

        .related-topics-list {
          list-style: none;
          padding: 0;
          margin: 0.5rem;
        }

        .related-topic {
          padding: 0;
          margin: 1rem 0;
        }

        .related-topic-thumbnail-photo-container {
          width: 2rem;
          height: 2rem;
          display: inline-block;
          margin-right: 0.5rem;
          vertical-align: middle;
        }

        .related-topic-thumbnail-photo {
          width: 2rem;
          height: 2rem;
        }

        .related-topic-thumbnail-photo-missing {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          border: 1px solid $brand-secondary;
        }

        .related-topic-name {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .admin-controls {
        margin-top: 5rem;
      }
    }

    .primary-section,
    .side-section-container {
      @include make-col();
      @include media-breakpoint-down(sm){
        @include make-col-span(12);
      }
    }

    .show-more-community-items {
      margin: 2rem 0;
    }
  }
}
