@mixin votes {
  .votes {
    .up-vote-icon, .down-vote-icon {
      @extend .fa;
      padding-right: .5rem;
    }

    .up-vote-icon {
      @extend .fa-caret-up;
    }

    .down-vote-icon {
      @extend .fa-caret-down;
    }

    .up-vote, .down-vote {
      @include btn;
      @include btn-sm;
      @include btn-primary;
      margin-right: .5rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    .down-vote {
      @include btn-secondary-borderless;
    }

    .current-vote {
      @extend .active;
    }
  }
}
