@mixin avatar {
  .avatar {
    color: $item-details;

    .avatar-image {
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-top: .5em;
      margin-right: .5em;
      margin-bottom: .5em;
    }

    .display-name {
      margin: .5em;
    }

    .reputation,
    .trusters {
      margin-left: 1em;
      margin-top: .5em;
      margin-bottom: .5em;
      font-size: .75rem;
      color: $gray-light;
    }

    .reputation-icon,
    .trusters-icon {
      @extend .fa;
      padding-left: .25rem;
      color: $gray-lighter;
    }

    .reputation-icon {
      @extend .fa-heart;
    }

    .trusters-icon {
      @extend .fa-check;
    }

    .trust-button {
      @include btn();
      @include priasee-btn-outline($brand-primary-minor);
      font-size: 0.7rem;
      padding: 0.3rem 0.5rem;
      margin-left: 1rem;
    }

    .trust-button-icon {
      @extend .fa-check;
      @extend .fa;
    }
  }
}
