@mixin sign-in-up {
  .sign-in-up {
    @include make-container();
    @include make-container-max-widths();

    .sign-in-button, .sign-up-button {
      @include btn;
      @include btn-primary;
    }

    p {
      margin-top: 1.5rem;
    }

    .error-text {
      @extend .alert;
      @extend .alert-danger;
    }
  }
}

@mixin embedded-sign-in-up {
  .embedded-sign-in-up {
    .sign-in-up-field {
      @extend .form-control;
      font-size: 0.9rem;
    }

    .sign-in-up-field-group {
      margin-bottom: 0.5rem;
    }

    .switch-sign-in-up-action {
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }

    .error-text {
      @extend .alert;
      @extend .alert-danger;
    }
    
    @include media-breakpoint-up(lg) {
      .sign-in-up-field { width: 96%; }
      .sign-in-up-field-group { display: inline-block; width: 33.33%; }
      .switch-sign-in-up-action { font-size: 0.8rem; }

      .sign-up {
        .sign-in-up-email { margin: 0 auto; }
        .sign-in-up-password { margin-left: auto; }
      }

      .sign-in {
        .sign-in-up-password { margin-left: auto; }
      }
    }
  }
}

@mixin sign-in-up-namespace {
  .sign-in-up-namespace {
    @include sign-in-up();
  }
}
