@mixin sign-in-up {
  .sign-in-up {
    @include social-media-links();
    @include make-container();
    @include make-container-max-widths();

    legend {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
    }

    .sign-in-up-subheading {
      margin-bottom: 1rem;
      color: $gray-light;
      font-weight: 200;
    }

    .sign-in-button, .sign-up-button {
      @include btn;
      @include btn-primary;
    }

    .sign-in-up-submit{
      display: inline-block;
    }

    p {
      margin-top: 1.5rem;
    }

    .error-text {
      @extend .alert;
      @extend .alert-danger;
    }
  }
}

@mixin embedded-sign-in-up {
  .embedded-sign-in-up {
    @include social-media-links();

    .sign-in-up-field {
      @extend .form-control;
      font-size: 0.9rem;
    }

    .sign-in-up-field-group {
      margin-bottom: 0.5rem;
    }

    .switch-sign-in-up-action {
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }

    .error-text {
      @extend .alert;
      @extend .alert-danger;
    }


    @include media-breakpoint-up(lg) {
      .sign-in-up-field { width: 96%; }

      .sign-in-up-field-group {
        display: inline-block;
        width: 33.33%;
        vertical-align: middle;
      }

      .switch-sign-in-up-action { font-size: 0.8rem; }

      .sign-up {
        .sign-in-up-email { margin: 0 auto; }
        .sign-in-up-password { margin-left: auto; }
      }

      .sign-in {
        .sign-in-up-password { margin-left: auto; }
      }
    }

    @include media-breakpoint-down(md) {
      .social-links {
        display: block;
        width: 100%;
        margin: 1rem 0;
      }
    }
  }
}

@mixin social-media-links {
    .social-links {
      display: inline-block;
      vertical-align: middle;
    }

    .social-links-or {
      padding: 0.5rem;
      color: $gray-light;
    }

    .social-link {
      padding-right: 0.5rem;
      color: lighten($gray, 35%);

      &:hover, &:active, &:focus {
        color: lighten($gray, 25%);
      }
    }

    .social-icon {
      @extend .fa;
      font-size: 2rem;
    }

    .facebook-icon {
      @extend .fa-facebook-square;
    }

    .google-icon {
      @extend .fa-google-plus-square;
    }
}

@mixin sign-in-up-namespace {
  .sign-in-up-namespace {
    @include sign-in-up();
  }
}
