@mixin trust-button {
  .trust-button {
    @include btn();
    @include praisee-btn-outline($brand-primary-minor);
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    margin-left: 1rem;
  }

  .trust-button-icon {
    @extend .fa-check;
    @extend .fa;
    margin-right: 0.3rem;
  }
}
