@mixin customizable-file-input($width: auto, $height: auto) {
  position: relative;
  overflow: hidden;
  width: $width;
  height: $height;

  .customizable-file-input-hidden-input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    overflow: hidden;
    width: $width;
    height: $height;
  }
}
