@mixin expand-button {
  .expand-button-container {
    text-align: center;
  }

  .expand-button-container-expand {
    .expand-button-icon {
      @extend .fa-angle-down;
    }
  }

  .expand-button-container-collapse {
    .expand-button-icon {
      @extend .fa-angle-up;
    }
  }

  .expand-button {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0 1rem 0.2rem 1rem;
    line-height: 1;
    background-color: $gray-lightest;
    outline: none;

    &:active, &:hover, &focus {
      background-color: $gray-lighter;
    }

    .expand-button-icon {
      @extend .fa;
      color: $gray-light;
    }
  }

  .content-truncator {
    .expand-button-container {
      position: relative;
    }

    .expand-button-container-collapse {
      margin-top: 0;
    }

    .expand-button-container-expand {
      margin-top: -.8rem;
    }

    .expand-button {
      background-color: transparent;
      width: 100%;
      transition: all 0.2s ease-in-out;

      &:active, &:hover, &focus {
        background-color: $gray-lightest;
      }
    }
  }
}
