<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />

    <title>Praisee</title>

    <script src="/i/client/scripts/index.js" async></script>
    <link rel="stylesheet" href="/i/client/styles/app.css">

    <script>
        window.__praiseeData = {
            cachedRequestData: {{{cachedRequestData}}}
        }
    </script>
</head>

<body>

<div class="app-container">{{{content}}}</div>

</body>

</html>
