<!DOCTYPE html>

<html>

<head>
    <script src="/client/scripts/app.js" async></script>
    <link rel="stylesheet" href="/client/styles/app.css">
</head>

<body>

<div class="app-container">{{{content}}}</div>

</body>

</html>
